@font-face {
  font-family: 'Space Grotesk', sans-serif;
  src: url('https: //fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
}

body {

  font-family: 'Space Grotesk', sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-size: 27px;

}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

/* home */
.home {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100px 1fr 0.5fr;
}

/* menu */
.menu {
  border: 2px solid rgb(28, 203, 209);
  max-height: 100vh;
  position: sticky;
  display: flex;

}

.menu ul {
  border: 2px solid blue;
  grid-auto-flow: column;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: auto;
  display: flex;
  gap: 150px;
  position: sticky;
}

.menu ul li {
  font-size: 20px;
}

/* proyectos */
.proyectos {
  border: 2px solid yellow;
  height: 100vh;
  display: grid;
  place-content: center;
  position: sticky;
  top: 0.1rem;
  left: 0.1rem;
}

.proyectos ul {
  margin: auto;
  max-height: fit-content;
  position: sticky;
  top: .1rem;
}
.proyectos li:hover{
  font-style:italic;
}

/* proyectos img */
.proyectos-imagenes {
  border: 2px solid red;
  padding-right: 100px;
  padding-top: 40px;
}

.proyectos-imagenes img {
  object-fit: cover;
}
