@font-face {
  font-family: "PPFormula";
  src: url("https: //res.cloudinary.com/drwz8ea7q/raw/upload/v1651868248/Portafolio/PPFormulaCondensed-Ultralight_ozobkr.woff2"), format("woff2");
}

/* @font-face {
  font-family: <un-nombre-de-fuente-remota>;
  src: <origen> [,<origen>]*;
  [font-weight: <peso>];
  [font-style: <estilo>];
}
 */
body {
  font-family: "PPFormula";
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-size: 25px;
  font-family: "PPFormula";
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

/* home */
.home {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100px 1fr 0.5fr;
}

/* menu */
.menu {
  border: 2px solid blue;
  max-height: 100vh;
  position: sticky;
  top: 0.1rem;
  left: 0.1rem;
}

.menu ul {
  display: grid;
  grid-auto-flow: column;
  gap: 100px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding-bottom: 40px;
  padding-right: 30px;
}

/* proyectos */
.proyectos {
  border: 2px solid yellow;
  height: 100vh;
  display: grid;
  place-content: center;
  position: sticky;
  top: 0.1rem;
  left: 0.1rem;
}

.proyectos ul {
  border: 2px solid yellow;
  margin: auto;
  max-height: fit-content;
  position: sticky;
}

/* proyectos img */
.proyectos-imagenes {
  border: 2px solid red;
}
