body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: normal;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-size: 27px;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

/* home */
.home {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100px 1fr 0.5fr;
}

/* menu */
.menu {
  max-height: 100vh;
  position: sticky;
  top: 10px;
  display: flex;
}

.menu ul {
  grid-auto-flow: column;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: auto;
  display: flex;
  gap: 150px;
}

.menu ul li {
  font-size: 20px;
}

.menu li:nth-child(2) {
  font-weight: bold;
}

/* proyectos */
.container {
  background: lightgray;
  /* max-height: 900px; */
  display: grid;
  grid-template-rows: repeat(5, auto);
}

.proyectos {
  /* border: 2px solid yellow; */
  /* height: 100vh; */
  display: grid;
  place-content: center;
  position: sticky;
  top: 0.1rem;
  left: 0.1rem;
}

.proyectos {
  max-height: fit-content;
  position: sticky;
  top: 0.1rem;
}

.proyectos li:hover {
  font-weight: bold;
}

/* proyectos img */
.proyectos-imagenes {
  border: 2px solid red;
  display: flex;
  /* max-height: 281.25px; */
  max-height: 840px;
  flex-direction: column;
  overflow-x: hidden;
  /* overflow-y: auto; */
  /* min-height: 400px; */
}

.proyectos-imagenes img {
  object-fit: cover;
  width: 500px;
  height: 281.25px;
  aspect-ratio: 16 / 9;
  top: 10px;
  display: block;
}
