body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: normal;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-size: 27px;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

/* home */

@media screen and (min-width: 600px) {
  .home {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 0.8fr 0.5fr;
    padding-top: 10px;
  }
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.menu ul {
  /* display: flex; */
  font-size: 17px;
  /* justify-content: space-between; */
  /* grid-auto-flow: column;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: auto;
  display: flex;
  gap: 180px; */
}


.menu li:nth-child(2) {
  font-style: italic;
}

/* menu */
@media screen and (min-width: 600px) {
  .menu {
    /* border: 2px solid rgb(53, 14, 227); */
    max-height: 100vh;
    position: sticky;
    margin: auto;
    display: flex;
  }

  .menu ul {
    grid-auto-flow: column;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: auto;
    display: flex;
    gap: 180px;
  }

  .menu ul li {
    font-size: 23px;
    align-self: center;
  }

  .menu li:nth-child(2) {
    font-style: italic;
  }
}

.links-contacto {
  position: sticky;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 15px;
}

.links-contacto a:hover {
  font-style: italic;
}


@media screen and (min-width: 600px) {
  .aboutme .menu {
    margin-top: 17vh;
  }

  .fotoyo {
    display: flex;
    /* max-height: 281.25px; */
    max-height: 750px;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
  }
}

.fotoyo {
  display: flex;
  /* max-height: 281.25px; */
  max-height: 750px;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
}

.proyectos {
  display: none;
}

@media screen and (min-width: 600px) {
  .proyectos {
    /* border: 2px solid yellow; */
    /* height: 100vh; */
    display: grid;
    place-content: center;
    position: sticky;
    top: 0.1rem;
    left: 0.1rem;
  }

  .proyectos {
    max-height: fit-content;
    position: sticky;
    top: 0.1rem;
  }

  .proyectos a:hover {
    font-style: italic;
  }
}

.menu a:hover {
  font-style: italic;
}

.menu li:nth-child(1):hover+li {
  font-style: inherit;
}

/* .me {
  object-fit: cover;
} */

/* .menu li:nth-child(3):hover+li {
  font-style: inherit;
} */
.menu li:nth-child(2) {
  font-style: italic;
}

.menu ul .active {
  font-style: italic;
}

.proyectos-imagenes {
  /* border: 2px solid red; */
  display: flex;
  /* max-height: 281.25px; */
  max-height: 750px;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;

  /* overflow-y: auto; */
  /* min-height: 400px; */
}

.proyectos-imagenes img {
  /* border: 2px solid rgb(34, 171, 45); */
  object-fit: cover;
  width: 500px;
  height: 281.25px;
  /* aspect-ratio: 16 / 9; */
  /* top: 10px; */
  display: block;
  align-items: center;
}


.texto {
  /* border: 2px solid rgb(48, 173, 204); */
  display: grid;
  place-content: center;
  position: sticky;
  top: 0.1rem;
  left: 0.1rem;
}

.texto h1 {
  font-size: 30px;
  font-weight: 100;
  padding-left: 50px;
  padding-right: 50px;
}

.texto p {
  font-size: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

/*MOVIL*/
@media all and (max-width: 660px) {
  .proyectos-imagenes {
    display: grid;
    margin-top: 20px;
    justify-content: center;
  }
}
